<h1>Add a keyword to <%=@allergen.allergen_name() %></h1>

<form action="/allergens/<%= @allergen.id() %>/keywords/new" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="allergen_name"></label>
  <input id="allergen_name" name="allergen_name" type="hidden" value="<%= @allergen.allergen_name %>">

  <label for="keyword_id">Select A keyword</label>
  <select id ="keyword_id" name="keyword_id">
    <% Keyword.all.each do |keyword| %>
      <option id="<%= keyword.keyword_name %>" value="<%= keyword.id %>"><%= keyword.keyword_name %></option>
    <% end %>
  </select><br>

  <button type="submit">Add Keyword to Allergen</button>
</form>
